<div class="col-xs-6" ng-controller="TradesWorkflowController">
    <h2>Trades Workflow</h2>
    <br /><br />
    <div class="animate-switch-container" ng-switch on="selection" 
       ng-class="{forward: direction, backward:!direction,longStage: longStage}">

    <div class="animate-switch"  ng-switch-default>
        
        <div style="display:inline-block; min-height:290px;">
                <datepicker id="dt" name="dt" ng-model="dt" min-date="minDate" show-weeks="true" required class="well well-sm"></datepicker>
        </div> 
      
        <button ng-click="submitTradesWorkFlow(dt)" class="btn btn-primary">Next</button>
    </div>

    <div class="animate-switch" ng-switch-when="stage2">
      
        <div class="form-group">
            <label class="control-label">Status: </label>
        
            <!--<select id="sel" class="input-block-level" ng-model="filterExpr">    
                <option value=""></option>
                <option ng-repeat="trade in trades | unique:'status'" value="{{trade.status}}">{{trade.status}}</option>
            </select> -->
            
            
        </div>
               
        <div class="form-group">
            <!--<select style="margin-top:4px;list-style-type: square;" ng-model="filteredTrades">
                <option ng-repeat="trade in filtered = (trades | filter:filterExpr)">
                    {{trade.instrument}} - {{trade.capital}} - {{trade.direction}} - {{trade.status}}
                </option>
            </select> -->
            
            
        </div>
        
        
        
        
      <br />
      <button class="btn btn-primary" ng-click="backToStep('default')">Back</button>
      <button class="btn btn-primary" ng-click="processTrades('finish')">Next</button>
    </div>
    
</div>
