<div ng-include src="'templates/header.html'"></div> 

<div class="container-fluid">
    <div class="row">
        
        <div ng-include src="'templates/sidebar.html'"></div> 
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-switch on="selection">
          
            <h2>Trades Workflow</h2>
                <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                    <table class="table table-condensed" style="margin-bottom: 2px;">
                        <tr>
                            <td class="heading">Symbol:</td>
                            <td class="separator">:</td>
                            <td>{{trade.instrument}}</td>
                        </tr>
                        <tr>
                            <td class="heading">Date:</td>
                            <td class="separator">:</td>
                            <td>{{trade.date}}</td>
                        </tr>
                        <tr>
                            <td class="heading">Current Status:</td>
                            <td class="separator">:</td>
                            <td>{{trade.status}}</td>
                        </tr>
                    </table>                    
                </div>
            <div class="clearfix"></div>
            <div style="border-bottom: 1px solid #000;padding-bottom:0px;"></div>
            <div class="col-xs-6" ng-switch-default>
                
                <div ng-include src="'templates/tradesworkflow/wizard/tradesInfo.html'"></div> 
                
                <button class="btn btn-primary" ng-click="showComments('TNP');" ng-if="status == CONSTANTS.SF">Mark Trade Not Placed</button>
                <button class="btn btn-primary" ng-click="showComments('TP');" 
                        ng-if="status == CONSTANTS.TNP || status == CONSTANTS.SF">Mark Trade Placed</button>
                
                <button class="btn btn-primary" ng-click="showTradeFilled('TF');" ng-if="status == CONSTANTS.TP">Mark Trade Filled</button>
                <button class="btn btn-primary" ng-click="showComments('TE');" ng-if="status == CONSTANTS.TP">Mark Trade Expired</button>
                
                <button class="btn btn-primary" ng-click="showClosedStep('TC','closed-step1');" ng-if="status == CONSTANTS.TF">Mark Trade Closed</button>
                <button class="btn btn-primary" ng-click="showSkipStep();">Skip</button>
            </div>
            
            <div class="col-xs-6" ng-switch-when="comments" style="margin-top:5px;">
                <form id="frmComments" name="frmComments" novalidate>
                    <label>Please add your comments to mark trade status as {{tradeStatus}}:</label>
                    
                    <div class="form-group" ng-class="{'has-error': frmComments.comments.$invalid}">
                        <textarea name="comments" class="form-control" ng-model="tdWorkflowForm.comments" 
                                  placeholder="Enter Comments" cols="10" rows="10" required></textarea>

                        <p ng-show="frmComments.comments.$invalid 
                                && frmComments.comments.$error.required" class="label label-danger">Comments is required.</p>
                    </div>
                    
                    <button class="btn btn-default" ng-click="backToStep('default');">Back</button>
                    <button class="btn btn-primary" ng-click="SaveTradeNotPlaced();" ng-disabled="frmComments.$invalid">Save</button>
                    
                </form>
            </div>
            
            <div class="col-xs-6" ng-switch-when="skip" style="margin-top:5px;">
                <form id="frmComments" name="frmComments" novalidate>
                    <label>Skip Trade</label>
                    
                    <div class="form-group" ng-class="{'has-error': frmComments.comments.$invalid}">
                        <textarea name="comments" class="form-control" ng-model="tdWorkflowForm.comments" 
                                  placeholder="Enter Comments" cols="10" rows="10" required></textarea>

                        <p ng-show="frmComments.comments.$invalid 
                                && frmComments.comments.$error.required" class="label label-danger">Comments is required.</p>
                    </div>
                    
                    <button class="btn btn-default" ng-click="backToStep('default');">Back</button>
                    <button class="btn btn-primary" ng-click="SaveSkipStep();" ng-disabled="frmComments.$invalid">Save</button>
                    
                </form>
            </div>
            
            <div class="col-xs-12" ng-switch-when="filled" style="margin-top:5px;">
                <form id="frmFilled" name="frmFilled" novalidate>
                    
                    <div class="row well well-sm">
                        <div class="col-xs-12">
                            <label>Please add your comments to mark trade status as {{tradeStatus}}:</label>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group" ng-class="{'has-error': frmFilled.comments.$invalid}">
                                <textarea name="comments" class="form-control" ng-model="tradeFill.comments" 
                                      placeholder="Enter Comments" cols="10" rows="14" required></textarea>

                                <p ng-show="frmFilled.comments.$invalid
                                            && frmFilled.comments.$error.required" class="label label-danger">Comments is required.</p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <datepicker id="dt" name="dt" ng-model="tradeFill.dt" required class=""></datepicker>
                            
                                <p ng-show="frmFilled.dt.$invalid
                                        && frmFilled.dt.$error.required" class="label label-danger">Date is required.</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error': frmFilled.tm.$invalid}" style="padding-left:36px;">
                                <input type="time" id="tm" name="tm" ng-model="tradeFill.tm" 
                                            placeholder="HH:mm:ss" min="08:00:00" max="24:00:00" required />
                                
                                <p ng-show="frmFilled.tm.$invalid
                                        && frmFilled.tm.$error.required" class="label label-danger">Time is required.</p>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <button class="btn btn-default" ng-click="backToStep('default');">Back</button>
                            <button class="btn btn-primary" ng-click="SaveTradeFilled(dt);" ng-disabled="frmFilled.$invalid">Save</button>
                        </div>
                    </div>
                    
                </form>
            </div>
            
            <div class="col-xs-12" ng-switch-when="closed-step1" style="margin-top:5px;">
                <form id="frmClosedStep1" name="frmClosedStep1" novalidate>
                    
                    <div class="row well well-sm">
                        <div class="col-xs-12">
                            <label>Please add your comments to mark trade status as {{tradeStatus}}:</label>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <datepicker id="dt" name="dt" ng-model="tradeclose.dt" required class=""></datepicker>
                            
                                <p ng-show="frmClosedStep1.dt.$invalid
                                        && frmClosedStep1.dt.$error.required" class="label label-danger">Date is required.</p>
                            </div>
                            
                            <div class="form-group" ng-class="{'has-error': frmClosedStep1.tm.$invalid}" style="padding-left:36px;">
                                <input type="time" id="tm" name="tm" ng-model="tradeclose.tm" 
                                            placeholder="HH:mm:ss" min="08:00:00" max="24:00:00" required />
                                
                                <p ng-show="frmClosedStep1.tm.$invalid
                                        && frmClosedStep1.tm.$error.required" class="label label-danger">Time is required.</p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group" ng-class="{'has-error': frmClosedStep1.exitmethod.$invalid}">
                                <label class="control-label">Method </label>
                                <select id="exitmethod" name="exitmethod" class="form-control" 
                                        ng-model="tradeclose.exitmethod" ng-change="changeExitMethod();" required>    
                                    <option value="">Method</option>
                                    <option value="stopped out">Stopped Out</option>
                                    <option value="take profit">Take Profit</option>
                                    <option value="manual exit">Manual Exit</option>
                                </select>
                                
                                <p ng-show="frmClosedStep1.exitmethod.$invalid
                                        && frmClosedStep1.exitmethod.$error.required" class="label label-danger">Exit method is required.</p>
                            </div>

                            <div class="form-group" ng-class="{'has-error': frmClosedStep1.exitprice.$invalid}">
                                <label class="control-label">Exit Price</label>
                                <input id="exitprice" name="exitprice" class="form-control" type="text" ng-model="tradeclose.exitprice" 
                                       placeholder="Enter Exit Price in the format of 1.4242" required ng-pattern="/^\d{1,4}(\.\d{1,4})$/" />
                                
                                <p ng-show="frmClosedStep1.exitprice.$invalid
                                        && frmClosedStep1.exitprice.$error.required" class="label label-danger">Exit price is required.</p>
                                
                                <p ng-show="frmClosedStep1.exitprice.$error.pattern">Enter Valid Format</p>
                            </div>
                       </div>

                       <div class="col-xs-12">
                            <button class="btn btn-default" ng-click="backToStep('default');">Back</button>
                            <button class="btn btn-primary" ng-click="showClosedStep('TC','closed-step2',tradeclose);" ng-disabled="frmClosedStep1.$invalid">
                                Nearly there</button>
                            
                       </div>
                    </div>
                            
                </form>
            </div>
            <div class="col-xs-12" ng-switch-when="closed-step2" style="margin-top:5px;">
                <form id="frmClosedStep2" name="frmClosedStep2" novalidate>
                    
                    <div class="row well well-sm">
                        <div class="col-xs-12">
                            <label>Please add your comments to mark trade status as {{tradeStatus}}:</label>
                        </div>

                        <div class="col-xs-6">
                            <table class="table">
                                <tr>
                                    <td class="heading">Direction</td>
                                    <td class="separator">:</td>
                                    <td>{{trade.direction}}</td>
                                </tr>
                                <tr>
                                    <td class="heading">Market</td>
                                    <td class="separator">:</td>
                                    <td>{{trade.instrument}}</td>
                                </tr>
                            </table>
                            
                            <div id="fbSuccessMsg" class="alert alert-success" style="display:none;">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>Success!</strong> Your message has been shared to Facebook successfully.
                            </div>
                            <div id="fbErrorMsg" class="alert alert-warning" style="display:none;">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <textarea name="comments" class="form-control" ng-model="tradeclose.comments" 
                                  placeholder="Enter Comments" cols="10" rows="12" required></textarea>
                            
                            <p ng-show="frmClosedStep2.comments.$invalid
                                        && frmClosedStep2.comments.$error.required" class="label label-danger">Comments is required.</p>
                        </div>

                        <div class="col-xs-12">
                            <button class="btn btn-default" ng-click="showClosedStep('TC','closed-step1',tradeclose);">Back</button>
                            <button class="btn btn-primary" ng-click="saveTradeClosed(dt);" ng-disabled="frmClosedStep2.$invalid">Save Update</button>
                            <button id="btnPostFB" name="btnPostFB"
                                      class="btn btn-success" tradeid="{{trade.id}}" 
                                      ng-disabled="frmClosedStep2.$invalid" ng-click="shareTrade2FB($event);">
                                  Post to FB
                            </button>
                            <div id="img_preview" style="width:250px; height:250px;"></div>
                        </div>
                    </div>

                </form> 
            </div>
            
        </div>
    </div>
    
    
</div>