<table class="table">
    <tr>
        <td class="heading">Date</td>
        <td class="separator">:</td>
        <td>{{trade.date}}</td>
    </tr>
    <tr>
        <td class="heading">Symbol</td>
        <td class="separator">:</td>
        <td>{{trade.instrument}}</td>
    </tr>
    <tr>
        <td class="heading">Status</td>
        <td class="separator">:</td>
        <td>{{trade.status}}</td>
    </tr>
    <tr>
        <td class="heading">Direction</td>
        <td class="separator">:</td>
        <td>{{trade.direction}}</td>
    </tr>
    <!--<tr>
        <td>Market</td>
        <td>{{trade.ins}}</td>
    </tr> -->
    <tr>
        <td class="heading">Entry/Quote</td>
        <td class="separator">:</td>
        <td>{{trade.entry}}</td>
    </tr>
    <tr>
        <td class="heading">Take Profit</td>
        <td class="separator">:</td>
        <td>{{trade.tp}}</td>
    </tr>
    <tr>
        <td class="heading">Stop Loss</td>
        <td class="separator">:</td>
        <td>{{trade.sl}}</td>
    </tr>
    <tr>
        <td class="heading">Pip Value</td>
        <td class="separator">:</td>
        <td>{{trade.pipvalue}}</td>
    </tr>
    <tr>
        <td class="heading">Capital at Risk</td>
        <td class="separator">:</td>
        <td>{{trade.capital}}</td>
    </tr>
    <tr>
        <td class="heading">Strategy</td>
        <td class="separator">:</td>
        <td>{{trade.pattern}}</td>
    </tr>
</table>