<div class="col-xs-12 col-sm-12">
    
<h1>{{action}} Watchlist</h1>
<div ng-app="sampleApp" ng-controller="HomeController" 
     rc-wizard="sampleWizard" rc-disabled="rc.firstForm.submitInProgress">  <!-- ng-app="sampleApp" -->
<ul class="nav rc-nav-wizard">
  <li class="active">
    <a class="active" href="#first" data-toggle="tab">
      <span class="badge">1</span>
      <span>Start</span>
    </a>
  </li>
  <li>
    <a href="#second" data-toggle="tab">
      <span class="badge">2</span>
      <span>Weekly Chart</span>
    </a>
  </li>
  <li>
    <a href="#third" data-toggle="tab">
      <span class="badge">3</span>
      <span>Daily Chart</span>
    </a>
  </li>
  <li>
    <a href="#fourth" data-toggle="tab">
      <span class="badge">4</span>
      <span>Candlestick</span>
    </a>
  </li>
  <li>
    <a href="#fifth" data-toggle="tab">
      <span class="badge">5</span>
      <span>Levels</span>
    </a>
  </li>
  <li>
    <a href="#sixth" data-toggle="tab">
      <span class="badge">6</span>
      <span>Notes</span>
    </a>
  </li>
  <li>
    <a href="#last" data-toggle="tab">
      <span class="badge">7</span>
      <span>Last Step</span>
    </a>
  </li>
</ul>
           
<div class="col-xs-6">
<div class="tab-content">
<form class="tab-pane active" id="first" name="firstForm" rc-submit="" rc-step novalidate>
    <h2>Start</h2>
    
    <div style="display:inline-block; min-height:290px;">
        <datepicker id="dt" name="dt" ng-model="dt" min-date="minDate" show-weeks="true" required class="well well-sm"></datepicker>
    </div> 
    
    <div class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.instrument)}">
        <label class="control-label">Currency Pair</label>
        <!-- <input name="instrument" class="form-control" type="text" required ng-model="watchlist.ins" ng-pattern="/^([a-zA-Z]{3})+\_[a-zA-Z]{2,3}$/"/>
        -->
        
        <select name="instrument" class="form-control" ng-model="watchlist.ins" data-placeholder="Currency Pair" required>
            <option ng-repeat="instrument in instruments " >{{instrument.displayname}}</option> <!-- | unique: 'instrument' -->
        </select>
        
        <p ng-if ="firstForm.instrument.$invalid 
                          && firstForm.instrument.$error.required" class="label label-danger">Currency Pair is required.</p>
        <!-- <p ng-show="firstForm.instrument.$error.pattern">Enter Valid Format</p> -->
    </div>
    
</form>
<form class="tab-pane" id="second" name="secondForm" rc-submit rc-step>
<h2>Weekly Chart</h2>

<div class="form-group">
    <label class="control-label">Instrument: </label> {{watchlist.ins}} <br />
    <label class="control-label">Date: </label> {{dt | date: 'dd-MMMM-yyyy'}}
    
</div>
<div class="form-group" ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.weekly)}">
  <label class="control-label">Who is winning on the Weekly Chart?</label>
  <input name="weekly" class="form-control" type="text" ng-model="watchlist.wkly" placeholder="Enter Text" required />
  <p ng-if="secondForm.weekly.$invalid 
                          && secondForm.weekly.$error.required" class="label label-danger">Weekly is required.</p>  <!--&& !secondForm.weekly.$pristine -->
</div>
</form>

<form class="tab-pane" id="third" name="thirdForm" rc-submit rc-step>
<h2>Daily Chart</h2>
<div class="form-group">
    <label class="control-label">Instrument: </label> {{watchlist.ins}} <br />
    <label class="control-label">Date: </label> {{dt | date: 'dd-MMMM-yyyy'}}
    
</div>    
<div class="form-group" ng-class="{'has-error': rc.thirdForm.needsAttention(thirdForm.daily)}">
  <label class="control-label">Who is winning on the Daily Chart?</label>
  <input name="daily" class="form-control" type="text" ng-model="watchlist.dly" placeholder="Enter Text" required />
  <p ng-if="thirdForm.daily.$invalid 
                          && thirdForm.daily.$error.required" class="label label-danger">Daily is required.</p> <!-- && !thirdForm.daily.$pristine -->
</div>
</form>
    
<form class="tab-pane" id="fourth" name="fourthForm" rc-submit rc-step>
<h2>Candlestick</h2>
<div class="form-group">
      <label class="control-label">Instrument: </label> {{watchlist.ins}} <br />
      <label class="control-label">Date: </label> {{dt | date: 'dd-MMMM-yyyy'}}
</div>

<div class="form-group" ng-class="{'has-error': rc.fourthForm.needsAttention(fourthForm.candlestick)}">
  <label class="control-label">Candlestick Description</label>
  <input name="candlestick" class="form-control" type="text" ng-model="watchlist.cdlst" placeholder="Enter Text" required />
  <p ng-show="fourthForm.candlestick.$invalid 
                          && fourthForm.candlestick.$error.required" class="label label-danger">Candlestick is required.</p> <!-- && !fourthForm.candlestick.$pristine -->
</div>
</form>
    
<form class="tab-pane" id="fifth" name="fifthForm" rc-submit rc-step>
<h2>Levels</h2>
<div class="form-group">
    <label class="control-label">Instrument: </label> {{watchlist.ins}} <br />
    <label class="control-label">Date: </label> {{dt | date: 'dd-MMMM-yyyy'}}
    
</div>
<div class="form-group" ng-class="{'has-error': rc.fifthForm.needsAttention(fifthForm.resistancemajor)}">
    <label>Major Resistance Level</label>
    <input type="text" name="resistancemajor" class="form-control" ng-model="watchlist.resmaj" ng-pattern="/^\d{1,4}(\.\d{1,4})$/" required
           placeholder="Enter Resistance Major in the format - 1.4242">
    
    <!-- && !fifthForm.resistancemajor.$pristine  -->
    <p ng-if="fifthForm.resistancemajor.$invalid 
                && fifthForm.resistancemajor.$error.required" class="help-block">Resistance Major is required.</p>
    <p ng-show="fifthForm.resistancemajor.$error.pattern">Enter Valid Format</p>
</div>

<div class="form-group" ng-class="{'has-error': rc.fifthForm.needsAttention(fifthForm.supportmajor)}">
    <label>Major Support Level</label>
    <input type="text" name="supportmajor" class="form-control" ng-model="watchlist.suppmaj" ng-pattern="/^\d{1,4}(\.\d{1,4})$/" required
           placeholder="Enter Support Major in the format - 1.4242">
    
    <!-- && !fifthForm.supportmajor.$pristine -->
    <p ng-show="fifthForm.supportmajor.$invalid 
                && fifthForm.supportmajor.$error.required" class="label label-danger">Support Major is required.</p>
    <p ng-show="fifthForm.supportmajor.$error.pattern">Enter Valid Format</p>
</div>

</form>
    
<form class="tab-pane" id="sixth" name="sixthForm" rc-submit rc-step>
<h2>Notes</h2>

<div class="form-group">
      <label class="control-label">Instrument: </label> {{watchlist.ins}} <br />
      <label class="control-label">Date: </label> {{dt | date: 'dd-MMMM-yyyy'}}
</div>
<!-- Support Major -->


<!-- Notes -->
<div class="form-group" ng-class="{'has-error': rc.sixthForm.needsAttention(sixthForm.upsidenotes)}">
    <label>What do I need to happen before <br />
        I enter a trade? Upside Opportunity</label>
    <textarea name="upsidenotes" class="form-control" ng-model="watchlist.upsident" placeholder="Enter Text"
               required></textarea>
    <p ng-if="sixthForm.upsidenotes.$invalid 
                && sixthForm.upsidenotes.$error.required" class="label label-danger">Upside Notes is required.</p>  <!-- && !sixthForm.upsidenotes.$pristine -->

</div>

</form>

<form class="tab-pane" id="last" name="lastForm" rc-submit="submitForm(watchlist,dt)" rc-step>
<h2>Finish Last Step</h2>

<div class="form-group">
      <label class="control-label">Instrument: </label> {{watchlist.ins}} <br />
      <label class="control-label">Date: </label> {{dt | date: 'dd-MMMM-yyyy'}}
</div>
<!-- Support Major -->


<!-- Notes -->
<div class="form-group" ng-class="{'has-error': rc.lastForm.needsAttention(lastForm.downsidenotes)}">
    <label>What do I need to happen before <br />
        I enter a trade? Downside Opportunity</label>
    <textarea name="downsidenotes" class="form-control" ng-model="watchlist.downsident" placeholder="Enter Text"
               required></textarea>
    
    <!-- && !lastForm.downsidenotes.$pristine -->
    <p ng-if="lastForm.downsidenotes.$invalid 
                && lastForm.downsidenotes.$error.required" class="label label-danger">Downside Notes is required.</p>

</div>

<input type="hidden" id="hdnEditID" name="hdnEditID" ng-model="watchlist.id" value="" />
</form>

    
    
</div>
    
<div class="form-group">
  <div class="pull-right">
    <a class="btn btn-default" ng-click="rc.sampleWizard.backward()"
       ng-show="rc.sampleWizard.currentIndex > rc.sampleWizard.firstIndex">Back</a>
    <a class="btn btn-primary" data-loading-text="Please Wait..." ng-click="rc.sampleWizard.forward()" 
       ng-show="rc.sampleWizard.currentIndex < rc.sampleWizard.navigationLength">Continue</a>
    <a class="btn btn-primary" ng-click="rc.sampleWizard.forward()" 
       ng-show="rc.sampleWizard.currentIndex == rc.sampleWizard.navigationLength">Save Analysis</a>
  </div>
</div>

</div>
        
</div>
</div>