<h4 class="form-signin-heading">Watchlist Details</h4>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Instrument</td>
                    <td>:</td>
                    <td>{{watchlist.instrument}}</td>
                </tr>
                <tr>
                    <td>Weekly Chart</td>
                    <td>:</td>
                    <td>{{watchlist.weekly}}</td>
                </tr>
                <tr>
                    <td>Daily Chart</td>
                    <td>:</td>
                    <td>{{watchlist.daily}}</td>
                </tr>
                <tr>
                    <td>CandleStick</td>
                    <td>:</td>
                    <td>{{watchlist.candlestick}}</td>
                </tr>
                <tr>
                    <td>Major Resistence Level</td>
                    <td>:</td>
                    <td>{{watchlist.resistancemajor}}</td>
                </tr>
                <tr>
                    <td>Major Support Level</td>
                    <td>:</td>
                    <td>{{watchlist.supportmajor}}</td>
                </tr>
                <tr>
                    <td>Upside Notes</td>
                    <td>:</td>
                    <td>{{watchlist.upsidenotes}}</td>
                </tr>
                <tr>
                    <td>Downside Notes</td>
                    <td>:</td>
                    <td>{{watchlist.downsidenotes}}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>:</td>
                    <td>{{watchlist.date}}</td>
                </tr>
            </tbody>
        </table>
        