<div class="col-xs-12 col-sm-12">
    
<h1>{{action}} Trade Journal</h1>
<div ng-controller="TradesController" 
     rc-wizard="sampleWizard" rc-disabled="rc.firstForm.submitInProgress">  <!-- ng-app="sampleApp" -->
<ul class="nav rc-nav-wizard">
  <li class="active">
    <a class="active" href="#first" data-toggle="tab">
      <span class="badge">1</span>
      <span>Start</span>
    </a>
  </li>
  <li>
    <a href="#second" data-toggle="tab">
      <span class="badge">2</span>
      <span>Capital/Risk</span>
    </a>
  </li>
  <li>
    <a href="#third" data-toggle="tab">
      <span class="badge">3</span>
      <span>Strategy/Direction</span>
    </a>
  </li>
  <li>
    <a href="#fourth" data-toggle="tab">
      <span class="badge">4</span>
      <span>Numbers</span>
    </a>
  </li>
  <li>
    <a href="#fifth" data-toggle="tab">
      <span class="badge">5</span>
      <span>Units</span>
    </a>
  </li>
  <li>
    <a href="#sixth" data-toggle="tab">
      <span class="badge">6</span>
      <span>Notes</span>
    </a>
  </li>
  <li>
    <a href="#last" data-toggle="tab">
      <span class="badge">7</span>
      <span>Last Step</span>
    </a>
  </li>
</ul>
           
<div class="col-xs-6">
<div class="tab-content">
<form class="tab-pane active" id="first" name="firstForm" rc-submit="" rc-step novalidate>
    <h2>Start</h2>
    
    <div style="display:inline-block; min-height:290px;">
        <datepicker id="dt" name="dt" ng-model="dt" min-date="minDate" show-weeks="true" required class="well well-sm"></datepicker>
    </div> 
    
    <div class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.instrument)}">
        <label class="control-label">Currency Pair</label>
    
        <select name="instrument" class="form-control" ng-model="trade.ins" data-placeholder="Currency Pair" required>
            <option ng-repeat="instrument in instruments ">{{instrument.displayname}}</option> <!-- | unique: 'instrument' -->
        </select>
        
        
        <!--
        <select id="instrument" name="instrument" class="form-control" ng-model="trade.ins" 
                ng-options="instrument.displayname for instrument in arrInstruments"></select>
        -->
        
        <p ng-if="firstForm.instrument.$invalid 
                            && firstForm.instrument.$error.required" class="label label-danger">Currency Pair is required.</p>  <!-- && !firstForm.instrument.$pristine -->
        
        
    </div>
</form>
<form class="tab-pane" id="second" name="secondForm" rc-submit rc-step>
<h2>Capital/Risk</h2>

<div class="form-group">
    <label class="control-label">Instrument: </label> <span ng-model="trade.instrument">{{trade.ins}}</span> <br />
    <label class="control-label">Date: </label> {{dt | date: 'dd-MMMM-yyyy'}}
    
</div>
<div class="form-group" ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.capital)}">
  <label class="control-label">What is your capital balance?</label>
  <input name="capital" class="form-control" type="text" ng-model="trade.capital" placeholder="Enter Text" required />
  
  <!-- && !secondForm.capital.$pristine -->
  <p ng-if="secondForm.capital.$invalid 
                          && secondForm.capital.$error.required" class="label label-danger">Capital balance is required.</p>
</div>
<div class="form-group" ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.risk)}">
  <label class="control-label">Risk</label>
  <input name="risk" class="form-control" type="text" ng-model="trade.risk" placeholder="Enter Text" required /> %
  
  <!-- && !secondForm.risk.$pristine -->
  <p ng-if="secondForm.risk.$invalid 
                          && secondForm.risk.$error.required" class="label label-danger">Risk is required.</p>
</div>
<div class="form-group">
  <label class="control-label">Amount at Risk</label>
  {{calculateAmountAtRisk()}}
</div>
</form>

<form class="tab-pane" id="third" name="thirdForm" rc-submit rc-step>
<h2>Strategy/Direction</h2>
<div class="form-group">
    <label class="control-label">Instrument: </label> {{trade.ins}} <br />
    <label class="control-label">Date: </label> {{dt | date: 'dd-MMMM-yyyy'}}
    
</div>    
<div class="form-group" ng-class="{'has-error': rc.thirdForm.needsAttention(thirdForm.strategy)}">
  <label class="control-label">What strategy are you using?</label>
  
  <select name="strategy" class="form-control" ng-model="trade.strategy" data-placeholder="Enter Text" required>
    <option ng-repeat="pattern in patterns " >{{pattern.displayname}}</option> <!-- | unique: 'instrument' -->
  </select>
  
  <!-- && !thirdForm.strategy.$pristine -->
  <p ng-if="thirdForm.strategy.$invalid 
                          && thirdForm.strategy.$error.required" class="label label-danger">Strategy is required.</p>
</div>

<div class="form-group" ng-class="{'has-error': rc.thirdForm.needsAttention(thirdForm.direction)}">
  <label class="control-label">What direction?</label>
  
  <select name="direction" class="form-control" ng-model="trade.direction" placeholder="Enter Text" required>
      <option value="BUY">BUY</option>
      <option value="SELL">SELL</option>
  </select>
  
  <!-- && !thirdForm.direction.$pristine -->
  <p ng-if="thirdForm.direction.$invalid 
                          && thirdForm.direction.$error.required" class="label label-danger">Direction is required.</p>
</div>
</form>
    
<form class="tab-pane" id="fourth" name="fourthForm" rc-submit rc-step>
<h2>Numbers</h2>
<div class="form-group">
      <label class="control-label">Instrument: </label> {{trade.ins}} <br />
      <label class="control-label">Date: </label> {{dt | date: 'dd-MMMM-yyyy'}}
</div>

<div class="form-group" ng-class="{'has-error': rc.fourthForm.needsAttention(fourthForm.entry)}">
  <label class="control-label">Entry</label>
  <input name="entry" class="form-control" type="text" ng-model="trade.entry" placeholder="Enter Text" 
         ng-pattern="/^\d{1,4}(\.\d{1,4})$/" required  />
  
  <!-- && !fourthForm.entry.$pristine -->
  <p ng-if="fourthForm.entry.$invalid 
                          && fourthForm.entry.$error.required" class="label label-danger">Entry is required.</p>
  <p ng-show="fourthForm.entry.$error.pattern">Enter Valid Format</p>
</div>

<div class="form-group" ng-class="{'has-error': rc.fourthForm.needsAttention(fourthForm.stoploss)}">
  <label class="control-label">Stop Loss</label>
  <input name="stoploss" class="form-control" type="text" ng-model="trade.stoploss" placeholder="Enter Text" 
         ng-pattern="/^\d{1,4}(\.\d{1,4})$/" required />
  
  <!-- && !fourthForm.stoploss.$pristine -->
  <p ng-if="fourthForm.stoploss.$invalid 
                          && fourthForm.stoploss.$error.required" class="label label-danger">Stop Loss is required.</p>
  
  <p ng-show="fourthForm.stoploss.$error.pattern">Enter Valid Format</p>
  
</div>

<div class="form-group" ng-class="{'has-error': rc.fourthForm.needsAttention(fourthForm.takeprofit)}">
  <label class="control-label">Take Profit</label>
  <input name="takeprofit" class="form-control" type="text" ng-model="trade.takeprofit" placeholder="Enter Text" 
         ng-pattern="/^\d{1,4}(\.\d{1,4})$/" required />
  
  <!-- && !fourthForm.takeprofit.$pristine -->
  <p ng-if="fourthForm.takeprofit.$invalid 
                          && fourthForm.takeprofit.$error.required" class="label label-danger">Take Profit is required.</p>
  <p ng-show="fourthForm.takeprofit.$error.pattern">Enter Valid Format</p>
</div>
</form>
    
<form class="tab-pane" id="fifth" name="fifthForm" rc-submit rc-step>
<h2>Units</h2>
<div class="form-group">
    <label class="control-label">Instrument: </label> {{trade.ins}} <br />
    <label class="control-label">Date: </label> {{dt | date: 'dd-MMMM-yyyy'}}
    
</div>
<div class="form-group" ng-class="{'has-error': rc.fifthForm.needsAttention(fifthForm.pipvalue)}">
    <label>1-pip value from ticket</label>
    <input type="text" name="pipvalue" class="form-control" ng-model="trade.pipvalue" ng-pattern="/^\d{1,4}(\.\d{1,4})$/" required
           placeholder="Enter Text">
    
    <!-- && !fifthForm.pipvalue.$pristine -->
    <p ng-if="fifthForm.pipvalue.$invalid 
                && fifthForm.pipvalue.$error.required" class="label label-danger">1-pip value is required.</p>
    <p ng-show="fifthForm.pipvalue.$error.pattern">Enter Valid Format</p>
</div>

<div class="form-group">
  <label class="control-label">Pip size</label> 
  <span>{{calculatePipSize() |abs}}</span>
</div>

<div class="form-group">
  <label class="control-label">Number of Units for Order</label>
  {{calculateUnitsForOrder()}}
</div>

</form>
    
<form class="tab-pane" id="sixth" name="sixthForm" rc-submit rc-step>
<h2>Notes</h2>

<div class="form-group">
      <label class="control-label">Instrument: </label> {{trade.ins}} <br />
      <label class="control-label">Date: </label> {{dt | date: 'dd-MMMM-yyyy'}}
</div>

<div class="form-group" ng-class="{'has-error': rc.sixthForm.needsAttention(sixthForm.rr)}">
    <label>Risk-Reward Ratio</label>
    <input type="text" name="rr" class="form-control" ng-model="trade.rr" required
           placeholder="Enter Text">
    
    <!-- && !sixthForm.rr.$pristine -->
    <p ng-if="sixthForm.rr.$invalid 
                && sixthForm.rr.$error.required" class="label label-danger">Risk-Reward Ratio is required.</p>
    
</div>

<!-- Notes -->
<div class="form-group" ng-class="{'has-error': rc.sixthForm.needsAttention(sixthForm.entrynotes)}">
    <label>Entry Notes</label>
    <textarea name="entrynotes" class="form-control" ng-model="trade.entrynotes" placeholder="Enter Text"
               required></textarea>
    
    <!-- && !sixthForm.entrynotes.$pristine -->
    <p ng-if="sixthForm.entrynotes.$invalid 
                && sixthForm.entrynotes.$error.required" class="label label-danger">Notes is required.</p>

</div>

</form>

<form class="tab-pane" id="last" name="lastForm" rc-submit="submitForm(trade,dt)" rc-step>
<h2>Finish Last Step</h2>

<table class="table">
    <tr>
        <td>Direction</td>
        <td>{{trade.direction}}</td>
    </tr>
    <tr>
        <td>Market</td>
        <td>{{trade.ins}}</td>
    </tr>
    <tr>
        <td>Units</td>
        <td>{{unitsForOrder}}</td>
    </tr>
    <tr>
        <td>Entry/Quote</td>
        <td>{{trade.entry}}</td>
    </tr>
    <tr>
        <td>Take Profit</td>
        <td>{{trade.takeprofit}}</td>
    </tr>
    <tr>
        <td>Stop Loss</td>
        <td>{{trade.stoploss}}</td>
    </tr>
    <tr>
        <td>1-pip Value</td>
        <td>{{trade.pipvalue}}</td>
    </tr>
    <tr>
        <td>Pips</td>
        <td>{{pipSize}}</td>
    </tr>
    <tr>
        <td>Capital at Risk</td>
        <td>{{amountAtRisk}}</td>
    </tr>
    <tr>
        <td>Strategy</td>
        <td>{{trade.strategy}}</td>
    </tr>
</table>

<input type="hidden" id="hdnEditID" name="hdnEditID" ng-model="trade.id" value="" />
</form>
    
</div>
    
<div class="form-group">
  <div class="pull-right">
    <a class="btn btn-default" ng-click="rc.sampleWizard.backward()"
       ng-show="rc.sampleWizard.currentIndex > rc.sampleWizard.firstIndex">Back</a>
    <a class="btn btn-primary" data-loading-text="Please Wait..." ng-click="rc.sampleWizard.forward()" 
       ng-show="rc.sampleWizard.currentIndex < rc.sampleWizard.navigationLength">Continue</a>
    <a class="btn btn-primary" ng-click="rc.sampleWizard.forward()" 
       ng-show="rc.sampleWizard.currentIndex == rc.sampleWizard.navigationLength">Save Analysis</a>
  </div>
</div>

</div>
        
</div>
</div>