<h4 class="form-signin-heading">Trade Details</h4>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Instrument</td>
                    <td>:</td>
                    <td>{{trade.instrument}}</td>
                </tr>
                <tr>
                    <td>Capital</td>
                    <td>:</td>
                    <td>{{trade.capital}}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>:</td>
                    <td>{{trade.date}}</td>
                </tr>
                <tr>
                    <td>Risk</td>
                    <td>:</td>
                    <td>{{trade.risk}}</td>
                </tr>
                <tr>
                    <td>Direction</td>
                    <td>:</td>
                    <td>{{trade.direction}}</td>
                </tr>
                <tr>
                    <td>Pattern</td>
                    <td>:</td>
                    <td>{{trade.pattern}}</td>
                </tr>
                <tr>
                    <td>Entry</td>
                    <td>:</td>
                    <td>{{trade.entry}}</td>
                </tr>
                <tr>
                    <td>Stop Loss</td>
                    <td>:</td>
                    <td>{{trade.sl}}</td>
                </tr>
                <tr>
                    <td>Take Profit</td>
                    <td>:</td>
                    <td>{{trade.tp}}</td>
                </tr>
                <tr>
                    <td>RR</td>
                    <td>:</td>
                    <td>{{trade.rr}}</td>
                </tr>
                <!--<tr>
                    <td>Filled</td>
                    <td>:</td>
                    <td>{{trade.filled == 1 ? "Yes":"No"}}</td>
                </tr>
                <tr>
                    <td>Fill Time</td>
                    <td>:</td>
                    <td>{{trade.fill_time}}</td>
                </tr>
                <tr>
                    <td>Exit Time</td>
                    <td>:</td>
                    <td>{{trade.exit_time}}</td>
                </tr>
                <tr>
                    <td>Exit Type</td>
                    <td>:</td>
                    <td>{{trade.exit_type}}</td>
                </tr>
                <tr>
                    <td>Exit Price</td>
                    <td>:</td>
                    <td>{{trade.exit_price}}</td>
                </tr> -->
            </tbody>
        </table>
        