<h2 class="form-signin-heading">{{action}} Instrument</h2>
        
        <form id="addInstrument" name="addInstrument" novalidate>
            <!-- Instrument -->
            <div class="form-group">
                <label>Instrument</label>
                <input type="text" name="instrument" class="form-control" ng-model="instrument.ins" 
                       ng-pattern="/^([a-zA-Z]{3})+\_[a-zA-Z]{2,3}$/" required placeholder="Enter instrument like USD_CAD">
                <p ng-show="addInstrument.instrument.$invalid 
                            && !addInstrument.instrument.$pristine 
                            && addInstrument.instrument.$error.required" class="label label-danger">Instrument is required.</p>
                <p ng-show="addInstrument.instrument.$error.pattern" class="label label-danger">Enter Valid Format</p>
            </div>
            
            <!-- Daily -->
            <div class="form-group">
                <label>Display Name</label>
                <input type="text" name="displayname" class="form-control" ng-model="instrument.displayname" 
                       ng-pattern="/^([a-zA-Z]{3})+\/[a-zA-Z]{2,3}$/" required placeholder="Enter instrument like USD/CAD">
                <p ng-show="addInstrument.displayname.$invalid 
                            && !addInstrument.displayname.$pristine 
                            && addInstrument.displayname.$error.required" class="label label-danger">Display Name is required.</p>
                <p ng-show="addInstrument.displayname.$error.pattern" class="label label-danger">Enter Valid Format</p>
            </div>
            
            <!-- Weekly -->
            <div class="form-group">
                <label>Tick Value</label>
                <input type="text" name="tickvalue" class="form-control" ng-model="instrument.tickvalue" 
                       ng-pattern="/^\d{1,4}(\.\d{1,4})$/" required>
                <p ng-show="addInstrument.tickvalue.$invalid 
                            && !addInstrument.tickvalue.$pristine 
                            && addInstrument.tickvalue.$error.required" class="label label-danger">Tick Value is required.</p>
                <p ng-show="addInstrument.tickvalue.$error.pattern" class="label label-danger">Enter Valid Format</p>
            </div>
            
            <!-- Candlestick -->
            <div class="form-group">
                <label>Status</label>
                
                <select name="active" class="form-control" ng-model="instrument.active" required>
                    <option value="1">Enable</option>
                    <option value="0">Disable</option>
                </select>
                
                <p ng-show="addInstrument.active.$invalid 
                            && !addInstrument.active.$pristine 
                            && addInstrument.active.$error.required" class="label label-danger">Status is required.</p>
            </div>
            
            <div class="form-group">
                <label>Sort Order</label>
                <input type="text" name="sortorder" class="form-control" ng-model="instrument.sortorder" 
                       ng-pattern="/^\d{1,4}$/">
                <p ng-show="addInstrument.sortorder.$invalid 
                            && !addInstrument.sortorder.$pristine 
                            && addInstrument.sortorder.$error.required" class="label label-danger">Sort Order is required.</p>
                
            </div>
            
            <input type="hidden" id="hdnEditID" name="hdnEditID" ng-model="instrument.id" value="" />
            <button type="submit" ng-click="submitForm(instrument)" class="btn btn-primary" ng-disabled="addInstrument.$invalid">Submit</button>
        </form>