<div ng-include src="'templates/header.html'"></div> 

<div class="container-fluid">
    <div class="row">
        
        <div ng-include src="'templates/sidebar.html'"></div> 
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
            <div class="col-xs-6">
                <h2>You've successfully completed the process for all instruments. Thank you.</h2>
                Please <a href="#/home/tradesworkflow/trades">click</a> to proceed with trades workflow.
            </div>
            
        </div>
    </div>
    
    
</div>